

<div class="panel panel-default" [routerLink]="[index]" routerLinkActive="active">
  <div class="panel-heading">
    <h4 class="panel-title text-center">{{ recipe.name }}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="list-group">
          <a class="list-group-item">{{ recipe.description }}</a>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="pull-right"><img [src]="recipe.imagePath"alt="{{ recipe.name }}" class="img-responsive"></span>
      </div>
  </div>
</div>


